# Last match in file takes precedence.

# Everything
*                                                   @ReboundQ3 @LateFinny

# C# code
/Content.*/                                         @ReboundQ3 @LateFinny

# YML files
/Resources/*.yml                                    @ReboundQ3 @LateFinny
/Resources/**/*.yml                                 @ReboundQ3 @LateFinny

# Sprites
/Resources/Textures/                                @ReboundQ3 @LateFinny

# Lobby art and music
/Resources/Audio/Lobby/                             @ReboundQ3 @LateFinny
/Resources/Textures/LobbyScreens/                   @ReboundQ3 @LateFinny
 

# Maps
/Resources/Maps/                                    @ReboundQ3 @LateFinny
/Resources/Prototypes/Maps/                         @ReboundQ3 @LateFinny
/Resources/Prototypes/_LateStation/Maps/            @ReboundQ3 @LateFinny
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @ReboundQ3 @LateFinny
